<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>AssignExp</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <!--background container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--background-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_BACK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_BACK</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_BACK_ANIM</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_BACK_ANIM</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--title-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_cn_FRAME_SP_PACK_ASSIGN_EXP_TITLE</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_cn_FRAME_SP_PACK_ASSIGN_EXP_TITLE</string>
            <key>useASposition</key>
            <integer>1</integer>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_cn.bin</string>
              <key>iphone</key>
              <string>UI/ui_cn.bin</string>
            </dict>
          </dict>
          <!--add exp label-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>addExpTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_INPUT_STR</string>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>ADD_EXP_FOR_SP</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>64</integer>
              <key>y</key>
              <integer>-178</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>addExpLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>64</integer>
              <key>y</key>
              <integer>-178</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>0</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--close button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>closeButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::close</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_CLOSE_N</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_CLOSE_S</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--sprite icon button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spIconButton0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>spIconButton1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB2</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>spIconButton2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB3</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>spIconButton3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB4</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>spIconButton4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB5</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>spIconButton5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>touchEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string>AssignExpLayer::selectSp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SUB6</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
              <key>disableTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--name label-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_NAME</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spNameLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_NAME</string>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--ability-->
          <!--name-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>nameLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>364</integer>
              <key>y</key>
              <integer>107</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>200</integer>
              <key>height</key>
              <integer>26</integer>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--level-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>levelLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>364</integer>
              <key>y</key>
              <integer>47</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>200</integer>
              <key>height</key>
              <integer>26</integer>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--character-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>characterLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>364</integer>
              <key>y</key>
              <integer>-13</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>200</integer>
              <key>height</key>
              <integer>26</integer>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--need exp-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>needExpLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>364</integer>
              <key>y</key>
              <integer>-73</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>200</integer>
              <key>height</key>
              <integer>26</integer>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--unused exp-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>unusedExpLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>364</integer>
              <key>y</key>
              <integer>-187</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>200</integer>
              <key>height</key>
              <integer>26</integer>
              <key>alignment</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--soft keyboard-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>keyboard1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-453</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>1</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>keyboard2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-371</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>2</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>keyboard3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-289</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>3</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>keyboard4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-207</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>4</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>keyboard5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-125</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>5</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>6</integer>
            <key>name</key>
            <string>keyboard6</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-43</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>6</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>7</integer>
            <key>name</key>
            <string>keyboard7</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>39</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>7</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>8</integer>
            <key>name</key>
            <string>keyboard8</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>121</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>8</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>9</integer>
            <key>name</key>
            <string>keyboard9</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>203</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>9</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>keyboard0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>285</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onAddScore</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>0</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>255</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>0</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
          <!--backspace-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>keyboardBackspace</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>367</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onDel</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
            <key>textSprite</key>
            <dict>
              <key>textSpriteName</key>
              <string>map_ui_FRAME_ASSIGN_EXP_DEL</string>
            </dict>
          </dict>
          <!--ok-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>keyboardOk</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>449</integer>
              <key>y</key>
              <integer>-307</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>AssignExpLayer::onOK</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>153</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>0</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string>OK</string>
              <key>fontSize</key>
              <integer>35</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPN</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPS</string>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
