<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>BattleHelp</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>luaScript</key>
		<string></string>
		<key>type</key>
		<string>UILayout</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>UIContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_BATTLE_WIKI_FRAME_LEFT</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_BATTLE_WIKI_FRAME_LEFT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_BATTLE_WIKI_FRAME_RIGHT</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_BATTLE_WIKI_FRAME_RIGHT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>toggleButton1</string>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string>BattleWikiLayer::clickButton1</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-230</integer>
							<key>y</key>
							<integer>232</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
							</dict>
						</array>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>BATTLE_WIKI_A</string>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>toggleButton2</string>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string>BattleWikiLayer::clickButton2</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-112</integer>
							<key>y</key>
							<integer>232</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
							</dict>
						</array>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>BATTLE_WIKI_B</string>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>toggleButton3</string>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string>BattleWikiLayer::clickButton3</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>6</integer>
							<key>y</key>
							<integer>232</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
							</dict>
						</array>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>BATTLE_WIKI_C</string>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>toggleButton4</string>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string>BattleWikiLayer::clickButton4</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>124</integer>
							<key>y</key>
							<integer>232</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
							</dict>
						</array>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>BATTLE_WIKI_D</string>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>toggleButton5</string>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string>BattleWikiLayer::clickButton5</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_BW_TAB_UNSELECTED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>242</integer>
							<key>y</key>
							<integer>232</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_BW_TAB_SELECTED</string>
							</dict>
						</array>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>BATTLE_WIKI_E</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_cn_FRAME_BATTLE_WIKI_TITLE</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_cn_FRAME_BATTLE_WIKI_TITLE</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_cn.bin</string>
							<key>iphone</key>
							<string>UI/ui_cn.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>scrollList</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-306</integer>
							<key>y</key>
							<integer>-35</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>viewWidth</key>
						<integer>382</integer>
						<key>viewHeight</key>
						<integer>477</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>352</integer>
						<key>contentHeight</key>
						<integer>132</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>-1</integer>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
