<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>CaptureMainLayer</string>
		<key>luaScript</key>
		<string></string>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>backContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>3</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backgroundImage</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>512</integer>
							<key>y</key>
							<integer>25</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>directFrame</key>
						<integer>1</integer>
						<key>frameFile</key>
						<string>UI/texture_capture.plist</string>
						<key>resourceName</key>
						<string>Background_ipad.png</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>energyLabel</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>188</integer>
							<key>y</key>
							<integer>25</integer>
							<key>z</key>
							<integer>2</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exitButton</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>102</integer>
							<key>y</key>
							<integer>49</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>clickedCallback</key>
						<string>CaptureUILayer::onEscape</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>Btn_escape_normal.png</string>
							<key>clickedTexture</key>
							<string>Btn_escape_select.png</string>
							<key>directFrame</key>
							<integer>1</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
