<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>CaptureInquiry</string>
		<key>luaScript</key>
		<string></string>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>backContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backgroundImage</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>directFrame</key>
						<integer>1</integer>
						<key>frameFile</key>
						<string>UI/texture_quest.plist</string>
						<key>resourceName</key>
						<string>Img_takequest_bkg.png</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>confirmButton</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>120</integer>
							<key>y</key>
							<integer>-135</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>clickedCallback</key>
						<string>CaptureInquiry::confirm</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>CONFIRM</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TAKE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TAKE_S</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cancelButton</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-120</integer>
							<key>y</key>
							<integer>-135</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>clickedCallback</key>
						<string>CaptureInquiry::cancel</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>CANCEL</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_FREE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_FAEE_S</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>tipLabel1</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>105</integer>
							<key>z</key>
							<integer>2</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>font</key>
						<string>Arial</string>
						<key>fontSize</key>
						<integer>25</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>tipLabel2</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>70</integer>
							<key>z</key>
							<integer>2</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>CAPTURE_INQUIRY2</string>
						<key>font</key>
						<string>Arial</string>
						<key>fontSize</key>
						<integer>25</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
