<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>ChangeSprite</string>
		<key>type</key>
		<string>UILayout</string>
    <key>luaScript</key>
    <string></string>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>container</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--background-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_BG</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_BG</string>
          </dict>
          <!--title-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>titleLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>215</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>CHOOSE_NEED_TO_BE_TAKE_BY</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <!--toggle0-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>toggle0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spriteName0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>159</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spriteLevel0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--toggle1-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>toggle1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>spriteName1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>159</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>spriteLevel1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--toggle2-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>toggle2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>spriteName2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>159</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>spriteLevel2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>49</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--toggle3-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>toggle3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>-86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>spriteName3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>-13</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>spriteLevel3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-146</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--toggle4-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>toggle4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>-86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>spriteName4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>-13</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>spriteLevel4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-14</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--toggle5-->
          <dict>
            <key>type</key>
            <string>UIButtonToggle</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>toggle5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>-86</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::selected</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_UNSELECTED</string>
            </dict>
            <key>toggleButtons</key>
            <array>
              <dict>
                <key>normalTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
                <key>clickedTexture</key>
                <string>map_ui_FRAME_CHG_SP_SELECTED</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>spriteName5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>-13</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_CHG_SP_LV_MASK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>spriteLevel5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>118</integer>
              <key>y</key>
              <integer>-123</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--confirm and cancel-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>confirmButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-117</integer>
              <key>y</key>
              <integer>-197</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::confirmChange</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>CONFIRM</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_CONRIM_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_CONFIRM_SELECTED</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>cancelButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>114</integer>
              <key>y</key>
              <integer>-197</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ChangeSpriteLayer::cancelChange</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>CANCEL</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_CHG_SP_CANCEL_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_CHG_SP_CCANCEL_SELECTED</string>
            </dict>
          </dict>
        </array>
      </dict>
		</array>
	</dict>
</array>
</plist>
