<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>GameHelp</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <!--background container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_BACK_1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_BACK_1</string>
            <key>useStretch</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <!--title container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>titleContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>4</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>title</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_cn_FRAME_SG_HELP_TITLE</string>
            <key>useASposition</key>
            <integer>1</integer>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_cn.bin</string>
              <key>iphone</key>
              <string>UI/ui_cn.bin</string>
            </dict>
          </dict>
        </array>
      </dict>
      <!--close button container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>closeButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>7</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>10</integer>
            <key>name</key>
            <string>closeButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>GameHelpLayer::close</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_PVP_CLOSE_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_PVP_CLOSE_SELECTED</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <!--back button container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>1</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>11</integer>
            <key>name</key>
            <string>backButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>GameHelpLayer::back</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_HELP_BACK_UNSELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_HELP_BACK_SELECTED</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <!--scroll list container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>scrollListContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--scroll list back-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_HELP_BG</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_HELP_BG</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--scroll list-->
          <dict>
            <key>type</key>
            <string>UIScrollList</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>scrollList</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-43</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>viewWidth</key>
            <integer>992</integer>
            <key>viewHeight</key>
            <integer>628</integer>
            <key>contentOffsetX</key>
            <integer>0</integer>
            <key>contentOffsetY</key>
            <integer>0</integer>
            <key>contentWidth</key>
            <integer>992</integer>
            <key>contentHeight</key>
            <integer>901</integer>
            <key>direction</key>
            <integer>1</integer>
            <key>startX</key>
            <integer>0</integer>
            <key>startY</key>
            <integer>-273</integer>
            <key>children</key>
            <array>
              <!--HELP_IMPROVE_SPRITE_LEVEL-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>0</integer>
                <key>name</key>
                <string>improveSpriteLevel</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>505</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_IMPROVE_SPRITE_LEVEL</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>0</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>505</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_HOW_GET_MONEY-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>1</integer>
                <key>name</key>
                <string>getMoney</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>382</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_HOW_GET_MONEY</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>1</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>382</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_ATTR-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>2</integer>
                <key>name</key>
                <string>attr</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>259</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_ATTR</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>2</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>259</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_SPRITE_CHAR-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>3</integer>
                <key>name</key>
                <string>spriteCharacter</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>136</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_SPRITE_CHAR</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>3</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>136</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_BATTLE_WIKI-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>4</integer>
                <key>name</key>
                <string>battleWiki</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>13</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_BATTLE_WIKI</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>4</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>13</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_CATCH_WIKI-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>5</integer>
                <key>name</key>
                <string>catchWiki</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>-110</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_CATCH_WIKI</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>5</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>-110</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
              <!--HELP_PERFECT_SPRITE-->
              <dict>
                <key>type</key>
                <string>UIButton</string>
                <key>tag</key>
                <integer>6</integer>
                <key>name</key>
                <string>perfectSprite</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>0</integer>
                  <key>y</key>
                  <integer>-233</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>clickedCallback</key>
                <string>GameHelpLayer::goToNewLayer</string>
                <key>text</key>
                <dict>
                  <key>bLocalizeString</key>
                  <integer>1</integer>
                  <key>content</key>
                  <string>HELP_PERFECT_SPRITE</string>
                  <key>fontSize</key>
                  <integer>26</integer>
                </dict>
                <key>texture</key>
                <dict>
                  <key>normalTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
                  <key>clickedTexture</key>
                  <string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
                </dict>
              </dict>
              <dict>
                <key>type</key>
                <string>UIPicture</string>
                <key>tag</key>
                <integer>6</integer>
                <key>name</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
                <key>transform</key>
                <dict>
                  <key>x</key>
                  <integer>419</integer>
                  <key>y</key>
                  <integer>-233</integer>
                  <key>z</key>
                  <integer>0</integer>
                </dict>
                <key>resourceName</key>
                <string>map_ui_FRAME_HELP_FRAME_ARROW</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
