<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>GetMoney</string>
		<key>luaScript</key>
		<string></string>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>titleContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>4</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>title</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_cn_FRAME_GET_MONEY_TITLE</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_cn.bin</string>
							<key>iphone</key>
							<string>UI/ui_cn.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>helpItemContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_HELP_BG</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_HELP_BG</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>helpA</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>198</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>isEnabled</key>
						<integer>0</integer>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>GET_MONEY_A</string>
							<key>font</key>
							<string>Helvetica</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>helpB</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>76</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>isEnabled</key>
						<integer>0</integer>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>GET_MONEY_B</string>
							<key>font</key>
							<string>Helvetica</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>helpC</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-46</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>isEnabled</key>
						<integer>0</integer>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>GET_MONEY_C</string>
							<key>font</key>
							<string>Helvetica</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_UNSELECTED</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_HELP_FRAME_SELECTED</string>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
