<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>login</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>titleContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>4</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>centerContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>titleLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>75</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>122</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>登陆</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>40</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>accountLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-200</integer>
              <key>y</key>
              <integer>25</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>122</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>米米号</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>40</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>passwordLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-200</integer>
              <key>y</key>
              <integer>-45</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>122</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>密码</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>40</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UITextInputField</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>accountInput</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>50</integer>
              <key>y</key>
              <integer>25</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>122</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>placeholder</key>
            <string>输入50000以上</string>
            <key>lengthLimit</key>
            <integer>25</integer>
            <key>isPassword</key>
            <integer>0</integer>
            <key>dimensionWidth</key>
            <integer>300</integer>
            <key>dimensionHeight</key>
            <integer>40</integer>
            <key>alignment</key>
            <integer>0</integer>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>40</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UITextInputField</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>passwordInput</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>50</integer>
              <key>y</key>
              <integer>-45</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>122</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>placeholder</key>
            <string>password</string>
            <key>lengthLimit</key>
            <integer>25</integer>
            <key>isPassword</key>
            <integer>1</integer>
            <key>dimensionWidth</key>
            <integer>300</integer>
            <key>dimensionHeight</key>
            <integer>40</integer>
            <key>alignment</key>
            <integer>0</integer>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>40</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>loginButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-100</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainGameLayer::startGame</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>LOGIN</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>directFrame</key>
              <integer>0</integer>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_TITLE_BACK</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_TITLE_BACK</string>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
