<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
    <key>name</key>
    <string>MainMenu</string>
    <key>tag</key>
    <integer>0</integer>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>luaScript</key>
    <string>luaScript/UI/MainMenu.lua</string>
    <key>type</key>
    <string>UILayout</string>
    <key>children</key>
    <array>
      <dict>
        <key>name</key>
        <string>TitleContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>type</key>
        <string>UIContainer</string>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>3</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>10000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>152</integer>
        <key>height</key>
        <integer>68</integer>
        <key>refObjName</key>
        <string></string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_M_TITLE_BACK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-17</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_M_TITLE_BACK</string>
            <key>directFrame</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>mapName</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-19</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>map name</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>bottomContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>6</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>150</integer>
        <key>refObjName</key>
        <string></string>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_M_BOTTOM</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>38</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_M_BOTTOM</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_M_BOTTOM_UP</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>75</integer>
              <key>z</key>
              <integer>3</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_M_BOTTOM_UP</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>mapButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-287</integer>
              <key>y</key>
              <integer>79</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectMap</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_MAP1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_MAP2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>mapLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-287</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>MAP</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_MAP_COMPASS</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-287</integer>
              <key>y</key>
              <integer>79</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_MAP_COMPASS</string>
            <key>directFrame</key>
            <integer>0</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spritePackButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-158</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectSpritePack</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SP_PACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SP_PACK2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spritePackLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-158</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>itemPackButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-54</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectItemPack</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SP_STOR1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SP_STOR2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>itemPackLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-54</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>ITEM_PACK</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>52</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectTask</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_ITEM_STOR1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_ITEM_STOR2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>52</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>QUEST</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spriteHandbookButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>154</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::setSpriteInfo</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_ROOM1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_ROOM2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spriteHandbookLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>154</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SPRITE_ICON</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>shopButton</string>
            <key>luaScript</key>
            <string></string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>278</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectShop</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SHOP1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SHOP2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>shopLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>278</integer>
              <key>y</key>
              <integer>40</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SHOP</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>gemContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>1</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>300</integer>
        <key>height</key>
        <integer>150</integer>
        <key>refObjName</key>
        <string></string>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_MAIN_STAR_BG</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>74</integer>
              <key>y</key>
              <integer>-22</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_MAIN_STAR_BG</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>gemLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>96</integer>
              <key>y</key>
              <integer>-22</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>_count</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>switchButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>9</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>300</integer>
        <key>height</key>
        <integer>100</integer>
        <key>refObjName</key>
        <string></string>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>switchButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-46</integer>
              <key>y</key>
              <integer>27</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_BOTTOM_HIDE</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_BOTTOM_HIDE_SELECT</string>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>myRoomButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>3</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>300</integer>
        <key>height</key>
        <integer>100</integer>
        <key>refObjName</key>
        <string></string>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>myRoomButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>70</integer>
              <key>y</key>
              <integer>34</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectMyRoom</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_BACK_HOME_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_BACK_HOME_SELECTED</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>backToMapButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectBackToMap</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_BACK_TO_MAP_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_BACK_TO_MAP_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>functionButtonsContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>7</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>300</integer>
        <key>height</key>
        <integer>100</integer>
        <key>refObjName</key>
        <string></string>
        <key>children</key>
        <array>
          <!--double exp-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>doubleExp</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-311</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>directLoad</key>
            <integer>1</integer>
            <key>directPath</key>
            <string>UI/doubleExp.png</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>doubleExpCount</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-311</integer>
              <key>y</key>
              <integer>-60</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>_count</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          
          <!--spin top buttons-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>noSpinTopButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::onTouchSpinTop</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SPIN_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SPIN_NORMAL</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>enableSpinTopButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::onTouchSpinTop</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SPIN_SELECTED</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SPIN_SELECTED</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>disableSpinTopButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::onTouchSpinTop</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SPIN_DISABLE</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SPIN_DISABLE</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>sptButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-129</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectSPT</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SPT1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SPT2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>settingButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-38</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>3</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SET_1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SET_2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>configButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-38</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectSet</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SET_SUB1_B</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SET_SUB1</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>helpButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-38</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectHelp</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SET_SUB2_B</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SET_SUB2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>returnButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-38</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MainMenuLayer::selectMainGmaeLayer</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_M_SET_SUB3_B</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_M_SET_SUB3</string>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
	</dict>
</array>
</plist>