<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MainGame</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>luaScript</key>
		<string></string>
		<key>type</key>
		<string>UILayout</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>backgroundContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>background</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>directLoad</key>
						<integer>1</integer>
						<key>directPath</key>
						<string>UI/StartGameBg.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>stripLeftContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>2</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_STRIP_LEFT</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>221</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_STRIP_LEFT</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>stripRightContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>8</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_STRIP_RIGHT</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-221</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_STRIP_RIGHT</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>cornerLeftTopContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>1</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_CORNER_1</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>61</integer>
							<key>y</key>
							<integer>-61</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_CORNER_1</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>cornerLeftBottomContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>3</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_CORNER_2</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>61</integer>
							<key>y</key>
							<integer>61</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_CORNER_2</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>cornerRightBottomContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>9</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_CORNER_3</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-61</integer>
							<key>y</key>
							<integer>61</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_CORNER_3</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>cornerRightTopContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>7</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_CORNER_4</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-61</integer>
							<key>y</key>
							<integer>-61</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_CORNER_4</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>seerIconContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>2</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>4</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_login_FRAME_SEER_ICON</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>9</integer>
							<key>y</key>
							<integer>-72</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_login_FRAME_SEER_ICON</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>animationContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<!--<dict>
						<key>type</key>
						<string>UIAnimation</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>centerAnim</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-512</integer>
							<key>y</key>
							<integer>-384</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>loadType</key>
						<integer>1</integer>
						<key>filePath</key>
						<string>UI/ui_login.bin</string>
						<key>animID</key>
						<integer>0</integer>
					</dict>-->
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
