<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>MessageBox</string>
    <key>type</key>
    <string>UILayout</string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_com_FRAME_COM_FRAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_com_FRAME_COM_FRAME</string>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_com.bin</string>
              <key>iphone</key>
              <string>UI/ui_com.bin</string>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>rightContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>8</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>rightButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>90</integer>
              <key>y</key>
              <integer>-105</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MessageBoxLayer::callfuncYes</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_com_FRAME_COM_CONFIRM_UNSELECTED_F</string>
              <key>clickedTexture</key>
              <string>map_ui_com_FRAME_COM_CONFIRM_SELECTED_F</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_com.bin</string>
                <key>iphone</key>
                <string>UI/ui_com.bin</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>rightLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>90</integer>
              <key>y</key>
              <integer>-105</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>CONFIRM</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>leftContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>2</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>leftButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-90</integer>
              <key>y</key>
              <integer>-105</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>MessageBoxLayer::callfuncNo</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_com_FRAME_COM_CANCEL_UNSELECTED_F</string>
              <key>clickedTexture</key>
              <string>map_ui_com_FRAME_COM_CANCEL_SELECTED_F</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_com.bin</string>
                <key>iphone</key>
                <string>UI/ui_com.bin</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>leftLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-90</integer>
              <key>y</key>
              <integer>-105</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>CANCEL</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>labelContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>2</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
      </dict>
    </array>
  </dict>
</array>
</plist>
