<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>objectStorage</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_BACK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_BACK</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_ITEM_BACK</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_ITEM_BACK</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_AVATOR</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_ITEM_SOTRAGE_AVATOR</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--icon-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>seer_icon_1.png</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-400</integer>
              <key>y</key>
              <integer>169</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>seer_icon_1.png</string>
            <key>directFrame</key>
            <integer>1</integer>
            <key>frameFile</key>
            <string>UI/SpriteIcon.plist</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_ITEM_STORAGE_AVATOR_HIGHLIGHT</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_ITEM_STORAGE_AVATOR_HIGHLIGHT</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--name-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>nameTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_STORAGE_NAME_RECT</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SEER_NAME</string>
          </dict>
          <!--name input field-->
          <dict>
            <key>type</key>
            <string>UITextInputField</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>nameInputField</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-159</integer>
              <key>y</key>
              <integer>211</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>placeholder</key>
            <string>点击输入</string>
            <key>lengthLimit</key>
            <integer>24</integer>
            <key>isPassword</key>
            <integer>0</integer>
            <key>dimensionWidth</key>
            <integer>210</integer>
            <key>dimensionHeight</key>
            <integer>30</integer>
            <key>alignment</key>
            <integer>0</integer>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <!--rename buttons-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>renameButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ObjectStorageLayer::onRename</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>255</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>0</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>rename</string>
              <key>fontSize</key>
              <integer>24</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_RENAME</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_RENAME</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>renameConfirmButton</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ObjectStorageLayer::onRenameConfirm</string>
            <key>text</key>
            <dict>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>255</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>0</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>CONFIRM</string>
              <key>fontSize</key>
              <integer>24</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_RENAMEOK</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_RENAMEOK</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--id-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>idTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_STORAGE_ID_RECT</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SEER_ID</string>
          </dict>
          <!--register time-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>registerTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_STORAGE_DATA_RECT</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SEER_REGISTER_DATA</string>
          </dict>
          <!--close button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>closeButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>465</integer>
              <key>y</key>
              <integer>336</integer>
              <key>z</key>
              <integer>4</integer>
            </dict>
            <key>clickedCallback</key>
            <string>ObjectStorageLayer::close</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ITEM_STORAGE_CLOSE_N</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ITEM_STORAGE_CLOSE_S</string>
            </dict>
          </dict>
          <!--monster count-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>monsterCountTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_2</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>MONSTER_NUM</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>monsterCountLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_2_VALUE</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>test</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <!--max sp lv-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>maxSpLvTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_6</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>MONSTER_MAX_LV</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>maxSpLvLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_6_VALUE</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>test</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <!--seer gold-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>seerGoldTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_3</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SEER_GOLD</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>seerGoldLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_3_VALUE</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>test</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <!--seer vip gold-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>seerVipGoldTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_7</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SEER_VIP_GOLD</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>seerVipGoldLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_ITEM_SOTRAGE_USERINFO_7_VALUE</string>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>test</string>
            <key>font</key>
            <string>Helvetica</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>itemScrollPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIScrollPage</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>itemScrollPage</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>257</integer>
              <key>y</key>
              <integer>18</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>contentWidth</key>
            <integer>398</integer>
            <key>contentHeight</key>
            <integer>399</integer>
            <key>direction</key>
            <integer>0</integer>
            <key>indicatorOffsetX</key>
            <integer>0</integer>
            <key>indicatorOffsetY</key>
            <integer>10</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
