<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>QuestTake</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>centerContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--background frame-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>backgroundFrame</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>Img_takequest_bkg.png</string>
            <key>directFrame</key>
            <integer>1</integer>
            <key>frameFile</key>
            <string>UI/texture_quest.plist</string>
          </dict>
          <!--quest labels-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>146</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>_任务标题</string>
            <key>fontSize</key>
            <integer>30</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questAim</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-212</integer>
              <key>y</key>
              <integer>106</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>QUEST_AIM</string>
            <key>font</key>
            <string>Arial</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questBrief</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>54</integer>
              <key>y</key>
              <integer>86</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>420</integer>
              <key>height</key>
              <integer>60</integer>
              <key>alignment</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>_任务描述</string>
            <key>font</key>
            <string>Arial</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>questAwardTitle</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-212</integer>
              <key>y</key>
              <integer>46</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>QUEST_AWARD</string>
            <key>font</key>
            <string>Arial</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--accept button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>acceptButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>112</integer>
              <key>y</key>
              <integer>-134</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>QuestTakeLayer::btnAcceptPressed</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>QUEST_ACCEPT</string>
              <key>fontSize</key>
              <integer>30</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_com_FRAME_COM_CONFIRM_UNSELECTED_F</string>
              <key>clickedTexture</key>
              <string>map_ui_com_FRAME_COM_CONFIRM_SELECTED_F</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_com.bin</string>
                <key>iphone</key>
                <string>UI/ui_com.bin</string>
              </dict>
            </dict>
          </dict>
          <!--cancel button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>cancelButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-112</integer>
              <key>y</key>
              <integer>-134</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>QuestTakeLayer::btnCancelPressed</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>CANCEL</string>
              <key>fontSize</key>
              <integer>30</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_com_FRAME_COM_CANCEL_UNSELECTED_F</string>
              <key>clickedTexture</key>
              <string>map_ui_com_FRAME_COM_CANCEL_SELECTED_F</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_com.bin</string>
                <key>iphone</key>
                <string>UI/ui_com.bin</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
