<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>QuestView</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>1</integer>
    </dict>
    <key>children</key>
    <array>
      <!--background-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--quest list background-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>Img_questlist_frame.png</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-302</integer>
              <key>y</key>
              <integer>-37</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>Img_questlist_frame.png</string>
            <key>directFrame</key>
            <integer>1</integer>
            <key>frameFile</key>
            <string>UI/texture_quest.plist</string>
          </dict>
        </array>
      </dict>
      <!--title-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>titleContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>4</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>titlePic</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-36</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>directLoad</key>
            <integer>1</integer>
            <key>directPath</key>
            <string>UI/Img_questview_title.png</string>
          </dict>
        </array>
      </dict>
      <!--close button-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>closeButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>7</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>closeButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>QuestViewLayer::btnClosePressed</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_CLOSE</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_CLOSE_S</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <!--tab buttons-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>tabContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--primary quest-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>primaryButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-419</integer>
              <key>y</key>
              <integer>229</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>QuestViewLayer::btnTabPressed</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>QUEST_PRIMARY</string>
            </dict>
            <key>texture</key>
            <dict>
              <key>directFrame</key>
              <integer>1</integer>
              <key>normalTexture</key>
              <string>Img_btnframe_normal.png</string>
              <key>clickedTexture</key>
              <string>Img_btnframe_select.png</string>
              <key>disableTexture</key>
              <string>Img_btnframe_select.png</string>
            </dict>
          </dict>
          <!--branch quest-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>branchButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-300</integer>
              <key>y</key>
              <integer>229</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>QuestViewLayer::btnTabPressed</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>QUEST_BRANCH</string>
            </dict>
            <key>texture</key>
            <dict>
              <key>directFrame</key>
              <integer>1</integer>
              <key>normalTexture</key>
              <string>Img_btnframe_normal.png</string>
              <key>clickedTexture</key>
              <string>Img_btnframe_select.png</string>
              <key>disableTexture</key>
              <string>Img_btnframe_select.png</string>
            </dict>
          </dict>
        </array>
      </dict>
      <!--scroll list containers-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>primaryListContainer</string>
        <key>isVisible</key>
        <integer>0</integer>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIScrollList</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>primaryList</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-302</integer>
              <key>y</key>
              <integer>-37</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>viewWidth</key>
            <integer>345</integer>
            <key>viewHeight</key>
            <integer>478</integer>
            <key>contentOffsetX</key>
            <integer>0</integer>
            <key>contentOffsetY</key>
            <integer>0</integer>
            <key>contentWidth</key>
            <integer>345</integer>
            <key>contentHeight</key>
            <integer>478</integer>
            <key>direction</key>
            <integer>1</integer>
            <key>startX</key>
            <integer>0</integer>
            <key>startY</key>
            <integer>0</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>branchListContainer</string>
        <key>isVisible</key>
        <integer>0</integer>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIScrollList</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>branchList</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-302</integer>
              <key>y</key>
              <integer>-37</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>viewWidth</key>
            <integer>345</integer>
            <key>viewHeight</key>
            <integer>478</integer>
            <key>contentOffsetX</key>
            <integer>0</integer>
            <key>contentOffsetY</key>
            <integer>0</integer>
            <key>contentWidth</key>
            <integer>345</integer>
            <key>contentHeight</key>
            <integer>478</integer>
            <key>direction</key>
            <integer>1</integer>
            <key>startX</key>
            <integer>0</integer>
            <key>startY</key>
            <integer>0</integer>
          </dict>
        </array>
      </dict>
      <!--quest info container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>questInfoContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--quest info background-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>Img_questinfo_frame.png</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>188</integer>
              <key>y</key>
              <integer>-15</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>Img_questinfo_frame.png</string>
            <key>directFrame</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
