<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>SpriteSkillChange</string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--make all the picture a button to swallow touch event...-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillExchangeBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXANGE_BACK</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXANGE_BACK</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillExchangeArrow</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXCHANGE_ARROW</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXCHANGE_ARROW</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--obi skill tip-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>obiSkillTipBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL_KILL_TIPS</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL_KILL_TIPS</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>obiSkillTip</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>153</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_SP_SKILL_KILL_TIPS</string>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SKILL_OBI_TIPS</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--skill exchange and description tip-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillExchangeTipBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXCHANGE_TIPS</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL_EXCHANGE_TIPS</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillDescription</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>153</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_SP_SKILL_EXCHANGE_TIPS</string>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>SKILL_EXCHANGE_TIPS</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
      <!--right button-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>rightButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--reset button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>resetSkillButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::resetSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_RESET</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_RESET_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
            <key>textSprite</key>
            <dict>
              <key>textSpriteName</key>
              <string>map_ui_cn_FRAME_SP_PACK_RESET_SKILL</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_cn.bin</string>
                <key>iphone</key>
                <string>UI/ui_cn.bin</string>
              </dict>
            </dict>
          </dict>
          <!--obi skill button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>obiSkillButtonRight</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BISHA_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_BISHA_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--sub skill button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>140</integer>
              <key>y</key>
              <integer>126</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>361</integer>
              <key>y</key>
              <integer>126</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>140</integer>
              <key>y</key>
              <integer>11</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>361</integer>
              <key>y</key>
              <integer>11</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
        </array>
      </dict>
      <!--scroll list-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>scrollListContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>scrollBackUp</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_UP</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_UP</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>scrollBackBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_BACK</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_BACK</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>scrollBackBottom</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::empty</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_BACK_BOTTOM</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_SCROLL_BACK_BOTTOM</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIScrollList</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillScrollList</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-161</integer>
              <key>y</key>
              <integer>61</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>viewWidth</key>
            <integer>233</integer>
            <key>viewHeight</key>
            <integer>601</integer>
            <key>contentOffsetX</key>
            <integer>0</integer>
            <key>contentOffsetY</key>
            <integer>0</integer>
            <key>contentWidth</key>
            <integer>233</integer>
            <key>contentHeight</key>
            <integer>601</integer>
            <key>direction</key>
            <integer>1</integer>
            <key>startX</key>
            <integer>0</integer>
            <key>startY</key>
            <integer>0</integer>
          </dict>
          <!--obi skill button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>obiSkillButtonLeft</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>3</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillChangeLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILLS_L_BISHA</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_BISHA_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
