<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>SpriteTrain</string>
    <key>type</key>
    <string>UILayout</string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--back-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_HOUSE_SP_TRAIN_FRAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_HOUSE_SP_TRAIN_FRAME</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_HOUSE_SP_TRAIN_LAYER</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_HOUSE_SP_TRAIN_LAYER</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--title-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_cn_FRAME_SPRITE_TRAIN_TITLE</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-221</integer>
              <key>y</key>
              <integer>195</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_cn_FRAME_SPRITE_TRAIN_TITLE</string>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_cn.bin</string>
              <key>iphone</key>
              <string>UI/ui_cn.bin</string>
            </dict>
          </dict>
          <!--tab button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spPackButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteTrainLayer::setTrainPack</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>PACK</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_PACK_N</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_PACK_S</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spStorageButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteTrainLayer::setTrainStorage</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>STORAGE</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_STORAGE_N</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_STORAGE_S</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--close button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spPackButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteTrainLayer::closed</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_CLOSE_N</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_CLOSE_S</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
      <!--train button container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>trainButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
      </dict>
      <!--scroll page container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>scrollPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIScrollPage</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>scrollPage</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>253</integer>
              <key>y</key>
              <integer>20</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>contentWidth</key>
            <integer>400</integer>
            <key>contentHeight</key>
            <integer>400</integer>
            <key>direction</key>
            <integer>0</integer>
            <key>indicatorOffsetX</key>
            <integer>0</integer>
            <key>indicatorOffsetY</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
      <!--sprite container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>spriteContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--left sprite-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>leftSpName</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_NAME_LEFT</string>
              <key>alignment</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>leftSpLv</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-262</integer>
              <key>y</key>
              <integer>94</integer>
              <key>z</key>
              <integer>3</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>153</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>70</integer>
              <key>height</key>
              <integer>22</integer>
              <key>alignment</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--right sprite-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>rightSpName</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_HOUSE_SP_TRAIN_NAME_RIGHT</string>
              <key>alignment</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>rightSpLv</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-10</integer>
              <key>y</key>
              <integer>94</integer>
              <key>z</key>
              <integer>3</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>153</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>width</key>
              <integer>70</integer>
              <key>height</key>
              <integer>22</integer>
              <key>alignment</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
