<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>SpriteHandbook</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>luaScript</key>
		<string>luaScript/UI/SpriteHandbook.lua</string>
		<key>type</key>
		<string>UILayout</string>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>mainContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_PACK_BACK_1</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_PACK_BACK_1</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>useStretch</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_TILE</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_TILE</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>useStretch</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>tag</key>
						<integer>101</integer>
						<key>name</key>
						<string>spritepage</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>frameRect</key>
						<dict>
							<key>rectAsIndex</key>
							<string>map_ui_FRAME_SP_RECK</string>
							<key>useAscontentRect</key>
							<integer>1</integer>
						</dict>
						<key>direction</key>
						<integer>0</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>0</integer>
						<key>page</key>
						<dict>
							<key>count</key>
							<integer>5</integer>
							<key>column</key>
							<integer>6</integer>
							<key>row</key>
							<integer>3</integer>
							<key>cellOffsetX</key>
							<integer>20</integer>
							<key>cellOffsetY</key>
							<integer>20</integer>
						</dict>
						<key>cellAsIndex</key>
						<string>map_ui_FRAME_SP_FIRST</string>
						<key>itemClickedCallback</key>
						<string>SpriteInfo::spriteItemClicked</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>titleContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>4</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>map_ui_cn_FRAME_SPRITE_PIC_INFO</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_cn.bin</string>
							<key>iphone</key>
							<string>UI/ui_cn.bin</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_cn_FRAME_SPRITE_PIC_INFO</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>closeContainer</string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>7</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>clickedCallback</key>
						<string>SpriteInfo::close</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_ITEM_STORAGE_CLOSE_N</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_ITEM_STORAGE_CLOSE_S</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
