<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>SpriteSkill</string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>centerContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <!--reset button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>resetSkillButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::resetSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_RESET</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_RESET_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
            <key>textSprite</key>
            <dict>
              <key>textSpriteName</key>
              <string>map_ui_cn_FRAME_SP_PACK_RESET_SKILL</string>
              <key>AspriteManager</key>
              <dict>
                <key>ipad</key>
                <string>UI/ui_cn.bin</string>
                <key>iphone</key>
                <string>UI/ui_cn.bin</string>
              </dict>
            </dict>
          </dict>
          <!--obi skill button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>obiSkillButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BISHA_NORMAL</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_BISHA_SELECT</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--sub skill button-->
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>140</integer>
              <key>y</key>
              <integer>126</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>361</integer>
              <key>y</key>
              <integer>126</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>140</integer>
              <key>y</key>
              <integer>11</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>subSkillButton3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>361</integer>
              <key>y</key>
              <integer>11</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpriteSkillLayer::selectSkill</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_BACK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_SKILL_SELECT</string>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
