<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
    <key>name</key>
    <string>SpritePack</string>
    <key>tag</key>
    <integer>0</integer>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>luaScript</key>
    <string>luaScript/UI/SpritePack.lua</string>
    <key>type</key>
    <string>UILayout</string>
    <key>children</key>
    <array>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>backContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_BACK_1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_BACK_1</string>
            <key>useStretch</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_PACK_BACK_2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>73</integer>
              <key>y</key>
              <integer>55</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_PACK_BACK_2</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>titleContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>4</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_cn_FRAME_SP_PACK_TITLE</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>3</integer>
              <key>y</key>
              <integer>-35</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_cn_FRAME_SP_PACK_TITLE</string>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_cn.bin</string>
              <key>iphone</key>
              <string>UI/ui_cn.bin</string>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>leftButtonContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>2</integer>
        <key>widthScale</key>
        <integer>884</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5423</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>linkButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>162</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_LINK1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_LINK2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>linkLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>12</integer>
              <key>y</key>
              <integer>162</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>DEAL_SP_LINK</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>firstButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>54</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_FIRST1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_FIRST2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>firstLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>12</integer>
              <key>y</key>
              <integer>54</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>DEAL_SP_FIRST</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>followButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-54</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_FOLLOW1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_FOLLOW2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>followLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>12</integer>
              <key>y</key>
              <integer>-54</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>DEAL_SP_FOLLOW</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>toStorageButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>-162</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_TO_STORAGE1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_TO_STORAGE2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>toStorageLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>12</integer>
              <key>y</key>
              <integer>-162</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>DEAL_SP_TO_PACK</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>tabContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>abilityButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>78</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>abilityLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>78</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK_ABILITY</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>skillButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>194</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_SKILL1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_SKILL2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>skillLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>194</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK_SKILLS</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>toolsButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>310</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_TOOLS1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_TOOLS2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>toolsLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>310</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK_TOOLS</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>propertyButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>426</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PROPERTY1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PROPERTY2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>propertyLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>426</integer>
              <key>y</key>
              <integer>216</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK_INFO</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>spriteContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>assignExpButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-168</integer>
              <key>y</key>
              <integer>-146</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpritePackLayer::assignExperience</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPERI1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_EXPERI2</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>assignExpLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-148</integer>
              <key>y</key>
              <integer>-146</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>PACK_ASSIGN_EXP</string>
            <key>fontSize</key>
            <integer>26</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spriteFeatureButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-286</integer>
              <key>y</key>
              <integer>215</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpritePackLayer::showFeatureBox</string>
            <key>text</key>
            <dict>
              <key>textOnly</key>
              <integer>1</integer>
              <key>color</key>
              <dict>
                <key>red</key>
                <integer>255</integer>
                <key>green</key>
                <integer>255</integer>
                <key>blue</key>
                <integer>0</integer>
              </dict>
              <key>bLocalizeString</key>
              <integer>0</integer>
              <key>content</key>
              <string></string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>closeContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>7</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>closeButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-45</integer>
              <key>y</key>
              <integer>-45</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpritePackLayer::close</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_PACK_CLOSE</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_PACK_ASSIST_EXP_CLOSE_S</string>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>spIconContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>6</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-413</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT0</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spIconButton0</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-411</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-411</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-248</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT1</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>1</integer>
            <key>name</key>
            <string>spIconButton1</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-246</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-246</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-83</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT2</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>2</integer>
            <key>name</key>
            <string>spIconButton2</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-81</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-81</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>82</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT3</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>3</integer>
            <key>name</key>
            <string>spIconButton3</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>84</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>84</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>247</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT4</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>4</integer>
            <key>name</key>
            <string>spIconButton4</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>249</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>249</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>412</integer>
              <key>y</key>
              <integer>78</integer>
              <key>z</key>
              <integer>5</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_HIGH_LIGHT5</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>5</integer>
            <key>name</key>
            <string>spIconButton5</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>414</integer>
              <key>y</key>
              <integer>76</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>isEnabled</key>
            <integer>0</integer>
            <key>clickedCallback</key>
            <string></string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_SP_ICON_0</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_SP_ICON_SELECT</string>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>414</integer>
              <key>y</key>
              <integer>152</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_SP_ICON_SUB_NAME</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>abilityPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>2</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>assignLrnButton</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>253</integer>
              <key>y</key>
              <integer>-129</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>clickedCallback</key>
            <string>SpritePackLayer::addAbility</string>
            <key>text</key>
            <dict>
              <key>bLocalizeString</key>
              <integer>1</integer>
              <key>content</key>
              <string>PACK_ASSIGN_LRN</string>
              <key>fontSize</key>
              <integer>26</integer>
            </dict>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_ASSIGN_LEARNING1</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_ASSIGN_LEARNING2</string>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>skillPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>2</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>3</integer>
        <key>widthScale</key>
        <integer>0</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>toolsPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>2</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIScrollPage</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>toolsScrollPage</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>249</integer>
              <key>y</key>
              <integer>16</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>contentWidth</key>
            <integer>468</integer>
            <key>contentHeight</key>
            <integer>278</integer>
            <key>direction</key>
            <integer>0</integer>
            <key>indicatorOffsetX</key>
            <integer>0</integer>
            <key>indicatorOffsetY</key>
            <integer>15</integer>
          </dict>
        </array>
      </dict>
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>baseInfoPageContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>2</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
      </dict>
    </array>
	</dict>
</array>
</plist>