<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>SpriteStorage</string>
		<key>type</key>
		<string>UILayout</string>
		<key>luaScript</key>
		<string>luaScript/UI/SpriteStorage.lua</string>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>backContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_PACK_BACK_1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_PACK_BACK_1</string>
						<key>useStretch</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>closeContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>7</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>btnClose</string>
						<key>directFrame</key>
						<integer>0</integer>
						<key>type</key>
						<string>UIButton</string>
						<key>clickedCallback</key>
						<string>SpriteStorageLayer::close</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_PACK_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_PACK_ASSIST_EXP_CLOSE_S</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-45</integer>
							<key>y</key>
							<integer>-45</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>titleContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>4</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_cn_FRAME_SP_STORAGE_TITLE</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_cn.bin</string>
							<key>iphone</key>
							<string>UI/ui_cn_iphone.bin</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-32</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_cn_FRAME_SP_STORAGE_TITLE</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>baseInfoBackContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>8</integer>
				<key>widthScale</key>
				<integer>1963</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>82</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK2</string>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK_ANIM</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-64</integer>
							<key>y</key>
							<integer>84</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK_ANIM</string>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK3</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-161</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK3</string>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>btnTopack</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>SP_TO_PACK</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>directFrame</key>
						<integer>0</integer>
						<key>type</key>
						<string>UIButton</string>
						<key>clickedCallback</key>
						<string>SpriteStorageLayer::takeBy</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TAKE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TAKE_S</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-101</integer>
							<key>y</key>
							<integer>-313</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>btnFree</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>SP_TO_FREE</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>directFrame</key>
						<integer>0</integer>
						<key>type</key>
						<string>UIButton</string>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_FREE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_FAEE_S</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>102</integer>
							<key>y</key>
							<integer>-313</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>baseInfoContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>8</integer>
				<key>widthScale</key>
				<integer>1963</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>2</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_UP_BACK</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>69</integer>
							<key>y</key>
							<integer>-112</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_UP_BACK</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>evolveTitle</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>69</integer>
							<key>y</key>
							<integer>-112</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>SP_EVO_VALUE</string>
						<key>font</key>
						<string>Helvetica</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>evolveLevelLabel</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>130</integer>
							<key>y</key>
							<integer>-112</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>--</string>
						<key>font</key>
						<string>Helvetica</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>featureLabel</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-10</integer>
							<key>y</key>
							<integer>178</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>scrollListContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>2</integer>
				<key>widthScale</key>
				<integer>1113</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>261</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_BACK1</string>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_cn_FRAME_SP_STORAGE_SORTTYPE</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>269</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_cn_FRAME_SP_STORAGE_SORTTYPE</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_cn.bin</string>
							<key>iphone</key>
							<string>UI/ui_cn.bin</string>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>iconScrollList</string>
						<key>type</key>
						<string>UIScrollList</string>
						<key>viewWidth</key>
						<integer>183</integer>
						<key>viewHeight</key>
						<integer>582</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>183</integer>
						<key>contentHeight</key>
						<integer>880</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>-300</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_SP_STORAGE_BACK_SCROLL</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-45</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>children</key>
						<array>
							<dict>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>button0</string>
								<key>text</key>
								<dict>
									<key>bLocalizeString</key>
									<integer>1</integer>
									<key>content</key>
									<string>SELECTED_ALL</string>
									<key>fontSize</key>
									<integer>26</integer>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>536</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>button1</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>frameFile</key>
									<string>UI/SeerIcon.plist</string>
									<key>textSpriteName</key>
									<string>Property_Big_1.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>536</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>2</integer>
								<key>name</key>
								<string>button2</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_2.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>450</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>button3</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_3.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>450</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>4</integer>
								<key>name</key>
								<string>button4</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_4.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>364</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>5</integer>
								<key>name</key>
								<string>button5</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_5.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>364</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>6</integer>
								<key>name</key>
								<string>button6</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_6.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>278</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>7</integer>
								<key>name</key>
								<string>button7</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_7.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>278</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>8</integer>
								<key>name</key>
								<string>button8</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_8.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>192</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>9</integer>
								<key>name</key>
								<string>button9</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_9.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>192</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>10</integer>
								<key>name</key>
								<string>button10</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_10.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>106</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>11</integer>
								<key>name</key>
								<string>button11</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_11.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>106</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>12</integer>
								<key>name</key>
								<string>button12</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_12.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>20</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>13</integer>
								<key>name</key>
								<string>button13</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_13.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>20</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>14</integer>
								<key>name</key>
								<string>button14</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_14.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>-66</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>15</integer>
								<key>name</key>
								<string>button15</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_15.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>-66</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>16</integer>
								<key>name</key>
								<string>button16</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_16.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>-152</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>17</integer>
								<key>name</key>
								<string>button17</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_17.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>43</integer>
									<key>y</key>
									<integer>-152</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>tag</key>
								<integer>18</integer>
								<key>name</key>
								<string>button18</string>
								<key>type</key>
								<string>UIButton</string>
								<key>texture</key>
								<dict>
									<key>directFrame</key>
									<integer>0</integer>
									<key>normalTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SORT_2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_SP_STORAGE_PROPERTY_SELECTED</string>
								</dict>
								<key>textSprite</key>
								<dict>
									<key>directFrame</key>
									<integer>1</integer>
									<key>textSpriteName</key>
									<string>Property_Big_18.png</string>
								</dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>-43</integer>
									<key>y</key>
									<integer>-238</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>scrollPageContainer</string>
				<key>type</key>
				<string>UIContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>4170</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>refObjName</key>
				<string></string>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>SORT_TIME_TOGGLE</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>SORT_TIME</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TIME_SORT</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_TIME_SORT</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-139</integer>
							<key>y</key>
							<integer>258</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_SP_STORAGE_TIME_SORT_SELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_SP_STORAGE_TIME_SORT_SELECT</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>SORT_LEVEL_TOGGLE</string>
						<key>text</key>
						<dict>
							<key>bLocalizeString</key>
							<integer>1</integer>
							<key>content</key>
							<string>SORT_LV</string>
							<key>fontSize</key>
							<integer>26</integer>
						</dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_LV_SORT</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_SP_STORAGE_LV_SORT</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>132</integer>
							<key>y</key>
							<integer>258</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui_FRAME_SP_STORAGE_LV_SORT_SELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_FRAME_SP_STORAGE_LV_SORT_SELECT</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>tag</key>
						<integer>1004</integer>
						<key>name</key>
						<string>spriteScrollPage</string>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>direction</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>398</integer>
						<key>contentHeight</key>
						<integer>425</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>30</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-6</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>tag</key>
						<integer>0</integer>
						<key>directFrame</key>
						<integer>0</integer>
						<key>name</key>
						<string>map_ui_FRAME_SP_STORAGE_SPNUM_BACK</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>61</integer>
							<key>y</key>
							<integer>-288</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_FRAME_SP_STORAGE_SPNUM_BACK</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>countTitle</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>-43</integer>
							<key>y</key>
							<integer>-288</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>SP_NUM</string>
						<key>font</key>
						<string>Helvetica</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>countLabel</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>61</integer>
							<key>y</key>
							<integer>-288</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>0</string>
						<key>font</key>
						<string>Helvetica</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
