<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>type</key>
    <string>UILayout</string>
    <key>tag</key>
    <integer>0</integer>
    <key>name</key>
    <string>SpriteCharacter</string>
    <key>luaScript</key>
    <string></string>
    <key>transform</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>z</key>
      <integer>0</integer>
    </dict>
    <key>children</key>
    <array>
      <!--title container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>titleContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>0</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>4</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>0</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>title</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_cn_FRAME_SPRITE_CHAR_TITLE</string>
            <key>useASposition</key>
            <integer>1</integer>
            <key>AspriteManager</key>
            <dict>
              <key>ipad</key>
              <string>UI/ui_cn.bin</string>
              <key>iphone</key>
              <string>UI/ui_cn.bin</string>
            </dict>
          </dict>
        </array>
      </dict>
      <!--content container-->
      <dict>
        <key>type</key>
        <string>UIContainer</string>
        <key>tag</key>
        <integer>0</integer>
        <key>name</key>
        <string>contentContainer</string>
        <key>transform</key>
        <dict>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>0</integer>
          <key>z</key>
          <integer>1</integer>
        </dict>
        <key>refMode</key>
        <integer>1</integer>
        <key>refPointMode</key>
        <integer>5</integer>
        <key>widthScale</key>
        <integer>5000</integer>
        <key>widthOffset</key>
        <integer>0</integer>
        <key>heightScale</key>
        <integer>5000</integer>
        <key>heightOffset</key>
        <integer>0</integer>
        <key>width</key>
        <integer>1024</integer>
        <key>height</key>
        <integer>768</integer>
        <key>children</key>
        <array>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>helpBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_HELP_BG</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>attrBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_ATTR_BG</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>tipBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_TIPS_FRAME</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--tip labels-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>redArrowTip</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>177</integer>
              <key>y</key>
              <integer>-224</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>255</integer>
              <key>green</key>
              <integer>0</integer>
              <key>blue</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>RED_ARROW_MEANS</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>blueArrowTip</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>177</integer>
              <key>y</key>
              <integer>-254</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>BLUE_ARROW_MEANS</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>noneArrowTip</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>177</integer>
              <key>y</key>
              <integer>-284</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>NONE_ARROW_MEANS</string>
            <key>font</key>
            <string>Helvetica</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--character scroll list-->
          <dict>
            <key>type</key>
            <string>UIScrollList</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>characterScrollList</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-286</integer>
              <key>y</key>
              <integer>-41</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>viewWidth</key>
            <integer>333</integer>
            <key>viewHeight</key>
            <integer>612</integer>
            <key>direction</key>
            <integer>1</integer>
            <key>background</key>
            <dict>
              <key>name</key>
              <string>map_ui_FRAME_H_LEFT_FRAME</string>
            </dict>
          </dict>
          <!--mid label-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>midLabelBack</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>1</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_ATTR_MID_BTN_SELECTED</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>midLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>177</integer>
              <key>y</key>
              <integer>-7</integer>
              <key>z</key>
              <integer>2</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string>_Character</string>
            <key>fontSize</key>
            <integer>20</integer>
          </dict>
          <!--property labels-->
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>atkLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>-10</integer>
              <key>y</key>
              <integer>115</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>LEVEL_UP_ATK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>defLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>153</integer>
              <key>y</key>
              <integer>192</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>LEVEL_UP_DEF</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spAtkLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>358</integer>
              <key>y</key>
              <integer>115</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>LEVEL_UP_SP_ATK</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spdLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>338</integer>
              <key>y</key>
              <integer>-131</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>LEVEL_UP_SPD</string>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>spDefLabel</string>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>10</integer>
              <key>y</key>
              <integer>-131</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>0</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>1</integer>
            <key>content</key>
            <string>LEVEL_UP_SP_DEF</string>
          </dict>
          <!--strong arrow-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>strongArrow0</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_STRONG_1</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>strongArrow1</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_STRONG_2</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>strongArrow2</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_STRONG_3</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>strongArrow3</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_STRONG_4</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>strongArrow4</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_STRONG_5</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <!--weak arrow-->
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>weakArrow0</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_WEAK_1</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>weakArrow1</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_WEAK_2</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>weakArrow2</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_WEAK_3</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>weakArrow3</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_WEAK_4</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIPicture</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>weakArrow4</string>
            <key>isVisible</key>
            <integer>0</integer>
            <key>transform</key>
            <dict>
              <key>x</key>
              <integer>0</integer>
              <key>y</key>
              <integer>0</integer>
              <key>z</key>
              <integer>0</integer>
            </dict>
            <key>resourceName</key>
            <string>map_ui_FRAME_H_WEAK_5</string>
            <key>useASposition</key>
            <integer>1</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</array>
</plist>
