<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>LOGO0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,140},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>TMG001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,140},{162,67}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{162,67}}</string>
                <key>sourceSize</key>
                <string>{230,137}</string>
            </dict>
            <key>TMG002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{236,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{236,88}}</string>
                <key>sourceSize</key>
                <string>{268,102}</string>
            </dict>
            <key>TMG003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,278},{72,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{72,132}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>TMG004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,278},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TMGLOGO.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e348c7681fd03f6ebe6ec0e3fa15a6$</string>
            <key>textureFileName</key>
            <string>TMGLOGO.png</string>
        </dict>
    </dict>
</plist>
