<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GuideArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{86,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>TitleBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,175},{317,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,71}}</string>
                <key>sourceSize</key>
                <string>{317,71}</string>
            </dict>
            <key>TitleBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,558},{369,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,60}}</string>
                <key>sourceSize</key>
                <string>{369,60}</string>
            </dict>
            <key>activity_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,58},{16,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,768}}</string>
                <key>sourceSize</key>
                <string>{16,768}</string>
            </dict>
            <key>activity_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,30},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>activity_finish_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>activity_flag_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,494},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>activity_flag_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,828},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>activity_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,558},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>activity_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,108}}</string>
                <key>sourceSize</key>
                <string>{221,108}</string>
            </dict>
            <key>activity_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,58},{54,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,2}}</string>
                <key>sourceSize</key>
                <string>{54,4}</string>
            </dict>
            <key>activity_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{77,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>activity_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{346,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,59}}</string>
                <key>sourceSize</key>
                <string>{346,59}</string>
            </dict>
            <key>activity_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{207,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,61}}</string>
                <key>sourceSize</key>
                <string>{207,63}</string>
            </dict>
            <key>activity_title_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,112},{48,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,12}}</string>
                <key>sourceSize</key>
                <string>{48,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_activity_center.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0779b69adbb24aa2b45b84df798a22$</string>
            <key>textureFileName</key>
            <string>ui_activity_center.png</string>
        </dict>
    </dict>
</plist>
