<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AptitudeSpriteSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{276,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,48}}</string>
                <key>sourceSize</key>
                <string>{276,48}</string>
            </dict>
            <key>BGImage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,142},{155,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,82}}</string>
                <key>sourceSize</key>
                <string>{157,84}</string>
            </dict>
            <key>BGImage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,299},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>BGImage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,257},{181,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,24}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>BGImage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,574},{210,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{210,207}</string>
            </dict>
            <key>EggSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,342},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,48}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>One.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,485},{124,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>SpriteBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,387}}</string>
                <key>sourceSize</key>
                <string>{338,387}</string>
            </dict>
            <key>SpriteBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,112}</string>
            </dict>
            <key>SpriteBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,134},{6,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{6,84}}</string>
                <key>sourceSize</key>
                <string>{6,86}</string>
            </dict>
            <key>SpriteBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{216,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,220}}</string>
                <key>sourceSize</key>
                <string>{216,220}</string>
            </dict>
            <key>SpriteInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,134},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,33}</string>
            </dict>
            <key>Three.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,443},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,440},{215,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,42}}</string>
                <key>sourceSize</key>
                <string>{215,42}</string>
            </dict>
            <key>Two.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,401},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>Zero.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,359},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_aptitude.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863ac32bc5c2cf7a73ee8862a7455afc$</string>
            <key>textureFileName</key>
            <string>ui_aptitude.png</string>
        </dict>
    </dict>
</plist>
