<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BattleAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,487},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>BattleArrowBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,407},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>BattleAutoBattleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,420},{86,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>BattleAutoBattleButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,352},{86,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>BattleBackgroundFunctionMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,404},{151,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,128}</string>
            </dict>
            <key>BattleBackgroundInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{644,35}}</string>
                <key>sourceSize</key>
                <string>{654,35}</string>
            </dict>
            <key>BattleBackwards.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,458},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>BattleBarAnger.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,39},{262,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,16}}</string>
                <key>sourceSize</key>
                <string>{262,16}</string>
            </dict>
            <key>BattleBarBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,250},{268,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,21}}</string>
                <key>sourceSize</key>
                <string>{270,21}</string>
            </dict>
            <key>BattleBarHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,273},{261,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,15}}</string>
                <key>sourceSize</key>
                <string>{261,15}</string>
            </dict>
            <key>BattleDamage.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,39},{295,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,203}}</string>
                <key>sourceSize</key>
                <string>{295,203}</string>
            </dict>
            <key>BattleDamageLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,277},{141,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,81}}</string>
                <key>sourceSize</key>
                <string>{141,81}</string>
            </dict>
            <key>BattleDownArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,451},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>BattleFunctionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,336},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,132}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>BattleFunctionButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>BattleKO.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{359,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,246}}</string>
                <key>sourceSize</key>
                <string>{359,246}</string>
            </dict>
            <key>BattleLabel_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,260},{142,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{142,166}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>BattleLabel_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{162,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{162,168}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>BattleManualBattleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,374},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>BattleManualBattleButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,290},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>BattleMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,303},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>BattleNormalSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,143},{178,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,115}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>BattleNormalSkillButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{178,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,115}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>BattleNormalSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,290},{180,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,115}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>BattleObiSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,407},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>BattleObiSkillButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,357},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>BattleObiSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,250},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>BattlePercent.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,448},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>BattlePropertyBg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,470},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>BattlePropertyBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,550},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>BattlePropertyBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,464},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>BattlePropertyBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,514},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>BattlePropertyBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,434},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>BattleSpriteGridDefeated.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,495},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>BattleSpriteGridEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,478},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>BattleSpriteGridOccupied.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,260},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>BattleStatusFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{420,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{420,102}}</string>
                <key>sourceSize</key>
                <string>{424,104}</string>
            </dict>
            <key>BattleUpArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,424},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>TowerGuideArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,143},{56,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,132}}</string>
                <key>sourceSize</key>
                <string>{56,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a5e31b78024fbe3084d5d261a378bc$</string>
            <key>textureFileName</key>
            <string>ui_battle.png</string>
        </dict>
    </dict>
</plist>
