<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackgroundBlueWithThinWhiteBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{76,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>BackgroundCornerYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,73},{149,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,116}}</string>
                <key>sourceSize</key>
                <string>{149,116}</string>
            </dict>
            <key>BlueArrowBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,49},{165,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,22}}</string>
                <key>sourceSize</key>
                <string>{165,22}</string>
            </dict>
            <key>BlueBgTopCoverHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{59,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,7}}</string>
                <key>sourceSize</key>
                <string>{59,7}</string>
            </dict>
            <key>BlueDecoration_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,503},{13,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,4}}</string>
                <key>sourceSize</key>
                <string>{13,4}</string>
            </dict>
            <key>BlueHighlightBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,425},{14,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,353}}</string>
                <key>sourceSize</key>
                <string>{14,353}</string>
            </dict>
            <key>BlueSpotBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,191},{95,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{95,107}}</string>
                <key>sourceSize</key>
                <string>{107,117}</string>
            </dict>
            <key>BlueWithLeftAndRightBorderBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,441},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>GrayRectTipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,441},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,68}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>GreenLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,508},{15,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,2}}</string>
                <key>sourceSize</key>
                <string>{15,2}</string>
            </dict>
            <key>RedLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{181,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,45}}</string>
                <key>sourceSize</key>
                <string>{181,45}</string>
            </dict>
            <key>RedLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,503},{94,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,3}}</string>
                <key>sourceSize</key>
                <string>{94,3}</string>
            </dict>
            <key>RoundRedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,441},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ShortThinBlueFunctionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{120,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,50}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>ShortThinBlueFunctionHighlightButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,441},{130,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>SquareRectangleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,441},{64,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>SquareRectangleBarHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,425},{64,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>YellowCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{269,421}}</string>
                <key>sourceSize</key>
                <string>{301,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_common_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc5d6428c0bb47b38a47eb8a6bcbc6b$</string>
            <key>textureFileName</key>
            <string>ui_common_2.png</string>
        </dict>
    </dict>
</plist>
