<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ClearingBonusLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{132,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,30}}</string>
                <key>sourceSize</key>
                <string>{132,30}</string>
            </dict>
            <key>ClearingCornerDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>ClearingCryingPicture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{75,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ClearingDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{22,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>ClearingLoseLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,734},{286,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{286,108}}</string>
                <key>sourceSize</key>
                <string>{300,110}</string>
            </dict>
            <key>ClearingSpriteNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,32}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>ClearingWinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,923},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>ClearingWinBack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{14,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,436}}</string>
                <key>sourceSize</key>
                <string>{14,436}</string>
            </dict>
            <key>ClearingWinLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,440},{292,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,110}</string>
            </dict>
            <key>ClearingWinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{286,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,77}}</string>
                <key>sourceSize</key>
                <string>{286,77}</string>
            </dict>
            <key>ClearingWinStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,969},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>ClearingWinningInnerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{785,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,62}}</string>
                <key>sourceSize</key>
                <string>{785,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_clearing.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7972c2f2e9223fd96bbbd6579ece7fb$</string>
            <key>textureFileName</key>
            <string>ui_clearing.png</string>
        </dict>
    </dict>
</plist>
