<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{77,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,471}}</string>
                <key>sourceSize</key>
                <string>{77,471}</string>
            </dict>
            <key>BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,757},{224,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,66}}</string>
                <key>sourceSize</key>
                <string>{224,66}</string>
            </dict>
            <key>BG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,761},{234,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,69}}</string>
                <key>sourceSize</key>
                <string>{234,69}</string>
            </dict>
            <key>BG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,768}}</string>
                <key>sourceSize</key>
                <string>{16,768}</string>
            </dict>
            <key>Challenge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,469},{223,465}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{223,465}}</string>
                <key>sourceSize</key>
                <string>{229,471}</string>
            </dict>
            <key>Challenge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{223,465}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{223,465}}</string>
                <key>sourceSize</key>
                <string>{229,471}</string>
            </dict>
            <key>Challenge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,756},{223,465}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{223,465}}</string>
                <key>sourceSize</key>
                <string>{229,471}</string>
            </dict>
            <key>Challenge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{223,463}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{223,463}}</string>
                <key>sourceSize</key>
                <string>{229,471}</string>
            </dict>
            <key>LeftBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,761},{75,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,236}}</string>
                <key>sourceSize</key>
                <string>{79,238}</string>
            </dict>
            <key>LeftBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,981},{14,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,321}}</string>
                <key>sourceSize</key>
                <string>{14,321}</string>
            </dict>
            <key>Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,997},{77,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,18}}</string>
                <key>sourceSize</key>
                <string>{77,18}</string>
            </dict>
            <key>Name1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,694},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>Name1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,983},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>Name2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,694},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>Name2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,724},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>Name3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,512},{113,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,49}}</string>
                <key>sourceSize</key>
                <string>{113,49}</string>
            </dict>
            <key>Name3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,724},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
            <key>Name4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,512},{117,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,48}}</string>
                <key>sourceSize</key>
                <string>{117,48}</string>
            </dict>
            <key>Name4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,726},{165,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,33}}</string>
                <key>sourceSize</key>
                <string>{165,33}</string>
            </dict>
            <key>Open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,631},{269,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,91}}</string>
                <key>sourceSize</key>
                <string>{269,91}</string>
            </dict>
            <key>Open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{246,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,57}}</string>
                <key>sourceSize</key>
                <string>{246,57}</string>
            </dict>
            <key>Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,726},{7,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,37}}</string>
                <key>sourceSize</key>
                <string>{7,37}</string>
            </dict>
            <key>TitleBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,694},{317,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,71}}</string>
                <key>sourceSize</key>
                <string>{317,71}</string>
            </dict>
            <key>TitleBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{508,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,88}}</string>
                <key>sourceSize</key>
                <string>{508,88}</string>
            </dict>
            <key>TitleBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{368,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,46}}</string>
                <key>sourceSize</key>
                <string>{368,46}</string>
            </dict>
            <key>TitleBG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{722,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,33}}</string>
                <key>sourceSize</key>
                <string>{722,33}</string>
            </dict>
            <key>TitleBG6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,999},{90,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,23}}</string>
                <key>sourceSize</key>
                <string>{90,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_challenge_center.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a72282d41e170e00ad22dd608ae8043$</string>
            <key>textureFileName</key>
            <string>ui_challenge_center.png</string>
        </dict>
    </dict>
</plist>
