<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaptureComboFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>CaptureDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,814},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>CaptureEscapeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,72},{76,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{76,68}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>CaptureEscapeFrameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{76,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{76,68}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>CaptureInquiryBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{474,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,107}}</string>
                <key>sourceSize</key>
                <string>{474,107}</string>
            </dict>
            <key>CaptureSeerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,439},{263,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,312}}</string>
                <key>sourceSize</key>
                <string>{263,312}</string>
            </dict>
            <key>CaptureSpinningTopBottomFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{871,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,99}}</string>
                <key>sourceSize</key>
                <string>{871,99}</string>
            </dict>
            <key>CaptureSpinningTopHPBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{108,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{108,14}}</string>
                <key>sourceSize</key>
                <string>{110,20}</string>
            </dict>
            <key>CaptureSpinningTopHPSection.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,984},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,20}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>CaptureSpinningTopHpBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,753},{133,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,56}}</string>
                <key>sourceSize</key>
                <string>{133,56}</string>
            </dict>
            <key>CaptureSpinningTopTrailStartPointFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,142},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>CaptureSpriteHPBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,811},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>CaptureSpriteHpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1002},{105,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,11}}</string>
                <key>sourceSize</key>
                <string>{105,11}</string>
            </dict>
            <key>CaptureSpriteHpBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1002},{105,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,11}}</string>
                <key>sourceSize</key>
                <string>{105,11}</string>
            </dict>
            <key>CaptureSpriteIconFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,190},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{122,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>CaptureSpriteInfoBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{435,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,86}}</string>
                <key>sourceSize</key>
                <string>{435,92}</string>
            </dict>
            <key>CaptureSpriteInfoDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,753},{238,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,59}}</string>
                <key>sourceSize</key>
                <string>{238,59}</string>
            </dict>
            <key>CaptureTimeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,984},{213,16}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,16}}</string>
                <key>sourceSize</key>
                <string>{215,20}</string>
            </dict>
            <key>CaptureTimeBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{213,16}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,16}}</string>
                <key>sourceSize</key>
                <string>{215,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_capture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d69d46e80a36c89a9ef82ff5f1c3961$</string>
            <key>textureFileName</key>
            <string>ui_capture.png</string>
        </dict>
    </dict>
</plist>
