<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChooseMainSpriteBackground_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{115,428}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,428}}</string>
                <key>sourceSize</key>
                <string>{115,430}</string>
            </dict>
            <key>ChooseMainSpriteBackground_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,428}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,428}}</string>
                <key>sourceSize</key>
                <string>{115,430}</string>
            </dict>
            <key>ChooseMainSpriteBackground_SingleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{21,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,400}}</string>
                <key>sourceSize</key>
                <string>{21,400}</string>
            </dict>
            <key>ChooseMainSpriteDecorationHorizontalLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{15,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,385}}</string>
                <key>sourceSize</key>
                <string>{15,385}</string>
            </dict>
            <key>ChooseMainSpriteDecorationLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{136,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,14}}</string>
                <key>sourceSize</key>
                <string>{136,14}</string>
            </dict>
            <key>ChooseMainSpriteDecorationNumbers.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{18,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{18,351}}</string>
                <key>sourceSize</key>
                <string>{22,385}</string>
            </dict>
            <key>ChooseMainSpriteSpriteBlurred_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{160,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,186}}</string>
                <key>sourceSize</key>
                <string>{160,188}</string>
            </dict>
            <key>ChooseMainSpriteSpriteBlurred_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,25},{158,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{158,180}}</string>
                <key>sourceSize</key>
                <string>{160,188}</string>
            </dict>
            <key>ChooseMainSpriteSpriteBlurred_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,207},{158,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{158,178}}</string>
                <key>sourceSize</key>
                <string>{160,188}</string>
            </dict>
            <key>ChooseMainSpriteSpriteClear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,321},{196,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,228}}</string>
                <key>sourceSize</key>
                <string>{204,232}</string>
            </dict>
            <key>ChooseMainSpriteSpriteClear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,25},{204,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,232}}</string>
                <key>sourceSize</key>
                <string>{204,232}</string>
            </dict>
            <key>ChooseMainSpriteSpriteClear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,231},{200,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,228}}</string>
                <key>sourceSize</key>
                <string>{204,232}</string>
            </dict>
            <key>ChooseMainSpriteSpriteFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,19},{300,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{300,308}}</string>
                <key>sourceSize</key>
                <string>{308,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_choose_main_sprite.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87f24865729204000b2f1ad242deecc3$</string>
            <key>textureFileName</key>
            <string>ui_choose_main_sprite.png</string>
        </dict>
    </dict>
</plist>
