<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EquipmentDeck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,893},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>EquipmentDeck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,705},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>EquipmentDeck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,893},{85,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,61}}</string>
                <key>sourceSize</key>
                <string>{85,61}</string>
            </dict>
            <key>EquipmentDeck4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,272},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>EquipmentFurnaceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,427}}</string>
                <key>sourceSize</key>
                <string>{282,427}</string>
            </dict>
            <key>EquipmentFurnaceBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{268,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{268,225}}</string>
                <key>sourceSize</key>
                <string>{270,225}</string>
            </dict>
            <key>EquipmentFurnaceGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,735},{268,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{268,225}}</string>
                <key>sourceSize</key>
                <string>{270,225}</string>
            </dict>
            <key>EquipmentFurnaceSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{268,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{268,225}}</string>
                <key>sourceSize</key>
                <string>{270,225}</string>
            </dict>
            <key>EquipmentMergeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>EquipmentMergeBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,427},{182,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{182,166}}</string>
                <key>sourceSize</key>
                <string>{184,168}</string>
            </dict>
            <key>EquipmentPieceBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,272},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipmentPieceBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,272},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentPieceGrade0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,799},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentPieceGrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,611},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentPieceGrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,705},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentPieceGrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,611},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentPieceGrade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,641},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>EquipmentUpgradeBtnDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,427},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
            <key>EquipmentUpgradeBtnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
            <key>EquipmentUpgradeBtnSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,370},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equipment.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e5eb4fe9fa7112efeed94a8623e8224$</string>
            <key>textureFileName</key>
            <string>ui_equipment.png</string>
        </dict>
    </dict>
</plist>
