<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GuideArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{86,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>GuideEvaPortraite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,213}}</string>
                <key>sourceSize</key>
                <string>{256,213}</string>
            </dict>
            <key>GuideHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,116},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>GuideInnerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,46},{68,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>GuideNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{204,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,44}</string>
            </dict>
            <key>GuideOuterBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,160},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>GuideThinBlueFunctionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,108},{140,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{140,50}}</string>
                <key>sourceSize</key>
                <string>{152,62}</string>
            </dict>
            <key>GuideThinBlueFunctionButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,46},{150,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{152,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guide.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae77735cfc4daff85f9ca781f3ef3af$</string>
            <key>textureFileName</key>
            <string>ui_guide.png</string>
        </dict>
    </dict>
</plist>
