<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InstanceBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,62},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,93}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>InstanceBackHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{75,75}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>InstanceBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{25,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,768}}</string>
                <key>sourceSize</key>
                <string>{25,768}</string>
            </dict>
            <key>InstanceBackgroundCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{960,58}}</string>
                <key>sourceSize</key>
                <string>{960,62}</string>
            </dict>
            <key>InstanceBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,131},{67,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>InstanceBattleDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,62},{67,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>InstanceBattleHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,157},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>InstanceButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,62},{256,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{256,195}}</string>
                <key>sourceSize</key>
                <string>{258,197}</string>
            </dict>
            <key>InstanceButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,248},{256,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,197}}</string>
                <key>sourceSize</key>
                <string>{258,197}</string>
            </dict>
            <key>InstanceButtonMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,155},{250,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{250,189}}</string>
                <key>sourceSize</key>
                <string>{258,197}</string>
            </dict>
            <key>InstanceMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{244,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,46}}</string>
                <key>sourceSize</key>
                <string>{244,46}</string>
            </dict>
            <key>InstanceNameBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>InstancePicture_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,903},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,724},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,655},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,496},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,496},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,744},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,631},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,538},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,496},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,445},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,407},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,407},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,248},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,248},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,352},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,259},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,248},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,62},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,155},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePicture_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,62},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>InstancePosition.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,200},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>InstancePositionArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,200},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_instance.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce2f5a37b9b869d39bdc286c3dbabd65$</string>
            <key>textureFileName</key>
            <string>ui_instance.png</string>
        </dict>
    </dict>
</plist>
