<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpriteLotteryExcellentEggIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,467},{90,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{90,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SpriteLotteryExcellentEggUnknow.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,233},{232,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,256}}</string>
                <key>sourceSize</key>
                <string>{232,256}</string>
            </dict>
            <key>SpriteLotteryHighestEggIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,483},{88,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SpriteLotteryItemBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{338,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,387}}</string>
                <key>sourceSize</key>
                <string>{338,387}</string>
            </dict>
            <key>SpriteLotteryItemNameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,68}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>SpriteLotteryMachineTitleBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,945},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,44}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>SpriteLotteryMarsEggIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,391},{90,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{90,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SpriteLotteryNormalEggIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,483},{88,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SpriteLotteryOpenEgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{229,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,257}}</string>
                <key>sourceSize</key>
                <string>{229,257}</string>
            </dict>
            <key>SpriteLotteryRareEggIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,391},{90,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{90,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SpriteLotteryTitleLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,945},{213,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,42}}</string>
                <key>sourceSize</key>
                <string>{213,42}</string>
            </dict>
            <key>SpriteSuperLotteryGameBackgroundHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,540},{403,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,118}}</string>
                <key>sourceSize</key>
                <string>{403,118}</string>
            </dict>
            <key>SpriteSuperLotteryLuckyGameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,540},{403,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,118}}</string>
                <key>sourceSize</key>
                <string>{403,118}</string>
            </dict>
            <key>SpriteSuperLotteryMachine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,536}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{364,536}}</string>
                <key>sourceSize</key>
                <string>{384,548}</string>
            </dict>
            <key>SpriteSuperLotteryMultipleLuckyGameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,540},{403,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,118}}</string>
                <key>sourceSize</key>
                <string>{403,118}</string>
            </dict>
            <key>SpriteSuperLotterySelectedBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,391},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>SpriteSuperLotteryUnselectedBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,467},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>SpriteSuperLotteryVipGameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{403,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,118}}</string>
                <key>sourceSize</key>
                <string>{403,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_lottery.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cdf3cb6d1d9dd5350c988f68073e893$</string>
            <key>textureFileName</key>
            <string>ui_lottery.png</string>
        </dict>
    </dict>
</plist>
