<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CampaignFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,506},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>CampaignFrameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,412},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ChatBoxFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,185},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>ChatButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,72},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ChatButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,223},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ChatDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,128},{3,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,60}}</string>
                <key>sourceSize</key>
                <string>{3,60}</string>
            </dict>
            <key>DailyCampaignLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,385},{82,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>FunctionActivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,691},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>FunctionActivityHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,614},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>FunctionBagIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,496},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{60,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionBagIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,412},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{60,82}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,65},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>FunctionCellBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,223},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>FunctionCellHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>FunctionCellIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,304},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>FunctionCellLabelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,161},{114,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
            <key>FunctionCellLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,161},{119,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,25}}</string>
                <key>sourceSize</key>
                <string>{119,25}</string>
            </dict>
            <key>FunctionChallenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,607},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>FunctionChallengeHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,557},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>FunctionCharacterIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>FunctionCharacterIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>FunctionCommunityIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,523},{68,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionCommunityIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,578},{68,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionElectricityIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,156},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>FunctionElectricityIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,181},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>FunctionElectricityLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,152},{31,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,54}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>FunctionFinanceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,256},{95,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>FunctionFinanceIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,248},{95,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>FunctionHandbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,434},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>FunctionHandbookHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,273},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>FunctionHomeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,449},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>FunctionHomeIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,336},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>FunctionLeague.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,525},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>FunctionLeagueHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,344},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>FunctionLeagueLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,443},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>FunctionLottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,305},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>FunctionLotteryHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,260},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>FunctionMailIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,273},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,86}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionMailIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,86}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,362},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>FunctionMainHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,345},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>FunctionOptionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,426},{74,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,84}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionOptionIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{74,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,84}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionQuestIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,641},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{66,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionQuestIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,529},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{66,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionRanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,502},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,86}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionRankingHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,451},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,86}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionShipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,517},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>FunctionShipIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,431},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>FunctionShopIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,345},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,84}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>FunctionShopIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,277},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,84}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>FunctionShopLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,90}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>FunctionSpriteIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,572},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionSpriteIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,502},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,80}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>FunctionTrainIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,426},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,89}</string>
            </dict>
            <key>FunctionTrainIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,345},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,89}</string>
            </dict>
            <key>FunctionVIPHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,313},{77,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,34}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>FunctionVIPIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,234},{77,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,34}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>FunctionVIPLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,247}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>FunctionVersusCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,390},{94,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>FunctionVersusCenterHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,363},{94,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>FunctionWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,156},{98,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{98,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>FunctionWorldHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,72},{98,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{98,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>FunctionchallengeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,172},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>OnlineBonusLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,150},{82,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>PresentIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,593},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>QuestFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,66},{192,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{192,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>QuestFrameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{198,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{198,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>QuestTargetBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,128},{119,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>QuestTargetCommonIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,590},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>QuestTargetIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,98},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>RechargeBonusLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,66},{82,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>ShakeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>ShakeIconHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>StatusFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{216,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{216,62}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>StatusFrameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{224,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{224,68}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>SwitchArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,273},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{80,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SwitchFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,340},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>SwitchFrameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,188},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>doubleExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,580},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>electricityIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,98},{141,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,61}}</string>
                <key>sourceSize</key>
                <string>{141,61}</string>
            </dict>
            <key>functionPropagandaButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,527},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>functionPropagandaButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,470},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a9837911c207a8b01f34e6ae7d36a6$</string>
            <key>textureFileName</key>
            <string>ui_main.png</string>
        </dict>
    </dict>
</plist>
