<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MultiBtnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{338,266}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{338,266}}</string>
                <key>sourceSize</key>
                <string>{354,278}</string>
            </dict>
            <key>PVPButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,391},{164,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,64}}</string>
                <key>sourceSize</key>
                <string>{164,64}</string>
            </dict>
            <key>PVPButtonSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,225},{164,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,64}}</string>
                <key>sourceSize</key>
                <string>{164,64}</string>
            </dict>
            <key>PVPTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{317,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,71}}</string>
                <key>sourceSize</key>
                <string>{317,71}</string>
            </dict>
            <key>SingleBtnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,403},{286,255}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{286,255}}</string>
                <key>sourceSize</key>
                <string>{296,269}</string>
            </dict>
            <key>ui_battle_center_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1003},{48,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,12}}</string>
                <key>sourceSize</key>
                <string>{48,12}</string>
            </dict>
            <key>ui_pvp_b_center_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{221,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,108}}</string>
                <key>sourceSize</key>
                <string>{221,108}</string>
            </dict>
            <key>ui_pvp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{16,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,768}}</string>
                <key>sourceSize</key>
                <string>{16,768}</string>
            </dict>
            <key>ui_pvp_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{399,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,82}}</string>
                <key>sourceSize</key>
                <string>{399,82}</string>
            </dict>
            <key>ui_pvp_btn_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{399,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,82}}</string>
                <key>sourceSize</key>
                <string>{399,82}</string>
            </dict>
            <key>ui_pvp_deck6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1003},{13,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,4}}</string>
                <key>sourceSize</key>
                <string>{13,4}</string>
            </dict>
            <key>ui_pvp_deck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,994},{85,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,7}}</string>
                <key>sourceSize</key>
                <string>{85,7}</string>
            </dict>
            <key>ui_pvp_deck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{332,16}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,16}}</string>
                <key>sourceSize</key>
                <string>{338,16}</string>
            </dict>
            <key>ui_pvp_deck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{369,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,60}}</string>
                <key>sourceSize</key>
                <string>{369,60}</string>
            </dict>
            <key>ui_pvp_deck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,557},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>ui_pvp_deck_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,33}}</string>
                <key>sourceSize</key>
                <string>{722,33}</string>
            </dict>
            <key>ui_pvp_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,772},{164,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,119}}</string>
                <key>sourceSize</key>
                <string>{164,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvp.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b766d2136d7a55a51a833ad865986a9$</string>
            <key>textureFileName</key>
            <string>ui_pvp.png</string>
        </dict>
    </dict>
</plist>
