<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>propagandaButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,129},{201,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,70}}</string>
                <key>sourceSize</key>
                <string>{201,70}</string>
            </dict>
            <key>propagandaButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,129},{201,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,70}}</string>
                <key>sourceSize</key>
                <string>{201,70}</string>
            </dict>
            <key>propagandaSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{244,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,287}}</string>
                <key>sourceSize</key>
                <string>{244,287}</string>
            </dict>
            <key>propaganda_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,327}}</string>
                <key>sourceSize</key>
                <string>{356,327}</string>
            </dict>
            <key>propaganda_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,84},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>propaganda_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>propaganda_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,332},{523,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,160}}</string>
                <key>sourceSize</key>
                <string>{523,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_propaganda.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c217f60b721469a5dc950991071b18e5$</string>
            <key>textureFileName</key>
            <string>ui_propaganda.png</string>
        </dict>
    </dict>
</plist>
