<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,197},{44,60}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>ShopButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{44,60}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>ShopButtonName.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,244},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>ShopButtonNameHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>ShopCurrencyBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,400},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,44}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>ShopDiscountFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,400},{99,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,79}}</string>
                <key>sourceSize</key>
                <string>{99,79}</string>
            </dict>
            <key>ShopItemDecorationLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,240}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{214,240}}</string>
                <key>sourceSize</key>
                <string>{220,312}</string>
            </dict>
            <key>ShopItemDecorationStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,244},{154,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,84},{154,146}}</string>
                <key>sourceSize</key>
                <string>{220,312}</string>
            </dict>
            <key>ShopItemDescriptionBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,400},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,68}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>ShopItemHotFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>ShopTabButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,50},{145,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,46}</string>
            </dict>
            <key>ShopTabButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a783fee8efa0363d09216e636f282a3$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
