<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChoiceEquipmentTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,116},{168,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,44}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>ChoiceFoodTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,70},{168,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,44}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>FirstSpriteBarTopCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,772},{64,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,12}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>FirstSpriteStatusFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,934},{124,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{124,82}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>ReplaceBattleSpriteLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,306},{275,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,48}}</string>
                <key>sourceSize</key>
                <string>{275,48}</string>
            </dict>
            <key>ShopCurrencyBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,70},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,44}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>SpriteAddSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,168},{178,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,113}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpriteAddSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,800},{180,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,113}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpriteAnimBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,436},{316,316}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{316,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>SpriteAssignExpAssignerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,120},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>SpriteAssignExpInfoBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,62},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{56,58}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>SpriteAssignExpNumberBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,982},{57,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,37}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>SpriteAssignExpTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{236,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{236,48}}</string>
                <key>sourceSize</key>
                <string>{264,70}</string>
            </dict>
            <key>SpriteAssignLearnPointBarBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,934},{88,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SpriteAssignLearnPointNumberBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,786},{180,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{180,52}}</string>
                <key>sourceSize</key>
                <string>{196,68}</string>
            </dict>
            <key>SpriteAssignLearnPointTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,754},{232,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{232,46}}</string>
                <key>sourceSize</key>
                <string>{264,70}</string>
            </dict>
            <key>SpriteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{60,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,358}}</string>
                <key>sourceSize</key>
                <string>{60,360}</string>
            </dict>
            <key>SpriteBarBottomCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1012},{75,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,8}}</string>
                <key>sourceSize</key>
                <string>{75,8}</string>
            </dict>
            <key>SpriteBarFirst.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{144,358}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{144,358}}</string>
                <key>sourceSize</key>
                <string>{160,360}</string>
            </dict>
            <key>SpriteBarFirstHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{144,358}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{144,358}}</string>
                <key>sourceSize</key>
                <string>{160,360}</string>
            </dict>
            <key>SpriteBarHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,436},{60,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,358}}</string>
                <key>sourceSize</key>
                <string>{60,360}</string>
            </dict>
            <key>SpriteBarTitleFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,982},{75,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>SpriteBarTopCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,362},{74,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,14}</string>
            </dict>
            <key>SpriteBarUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{60,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,358}}</string>
                <key>sourceSize</key>
                <string>{60,360}</string>
            </dict>
            <key>SpriteBarUnlockIconFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{123,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>SpriteBarUnlockTopCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,362},{74,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,14}</string>
            </dict>
            <key>SpriteBattlePower.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,982},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>SpriteGradientSquareDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{53,302}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{53,302}}</string>
                <key>sourceSize</key>
                <string>{113,320}</string>
            </dict>
            <key>SpriteHiddenSkillBarDescriptionBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,68}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>SpriteLearnSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,168},{135,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{135,69}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>SpriteLearnSkillButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,168},{135,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{135,69}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>SpriteLearnSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,356},{145,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,77}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>SpriteMinusButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,362},{78,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SpriteMinusButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,362},{78,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SpriteObiSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{178,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,113}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpriteObiSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,754},{178,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,113}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpritePlusButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,362},{78,72}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SpritePlusButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,362},{78,72}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SpriteSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,356},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,78}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>SpriteSelectHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{69,66}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>SpriteSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,754},{178,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,115}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpriteSkillButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{180,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,115}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>SpriteSliderBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,436},{334,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{334,18}}</string>
                <key>sourceSize</key>
                <string>{342,26}</string>
            </dict>
            <key>SpriteSliderButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{56,55}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>SpriteSliderButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{58,59}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>SpriteStatusFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,934},{138,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,80}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>SpriteSuperLotteryMessageCloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{66,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>SpriteTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,162},{115,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,46}</string>
            </dict>
            <key>VerticalEdgeDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,436}}</string>
                <key>sourceSize</key>
                <string>{14,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_sprite.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee2f78281fc6774d2989fd206296249$</string>
            <key>textureFileName</key>
            <string>ui_sprite.png</string>
        </dict>
    </dict>
</plist>
