<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CircleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,254},{275,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,180}}</string>
                <key>sourceSize</key>
                <string>{275,180}</string>
            </dict>
            <key>CircleButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,72},{275,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,180}}</string>
                <key>sourceSize</key>
                <string>{275,180}</string>
            </dict>
            <key>CircleButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{275,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,180}}</string>
                <key>sourceSize</key>
                <string>{275,180}</string>
            </dict>
            <key>SpriteTrainAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,436},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SpriteTrainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,68}}</string>
                <key>sourceSize</key>
                <string>{312,68}</string>
            </dict>
            <key>SpriteTrainBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,436},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,58}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>SpriteTrainClean.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,279},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>SpriteTrainCleanHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,436},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>SpriteTrainLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{204,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,12}}</string>
                <key>sourceSize</key>
                <string>{204,12}</string>
            </dict>
            <key>SpriteTrainLevelBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{214,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{214,22}}</string>
                <key>sourceSize</key>
                <string>{220,26}</string>
            </dict>
            <key>SpriteTrainRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,436},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,60}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>SpriteTrainRowClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,436},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>SpriteTrainRowDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,436},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,60}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>SpriteTrainVIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_train.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a3f8ff007b95001333e59e16b02f56$</string>
            <key>textureFileName</key>
            <string>ui_train.png</string>
        </dict>
    </dict>
</plist>
