<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TowerActionPointIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,853},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>TowerBack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,553}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{392,553}}</string>
                <key>sourceSize</key>
                <string>{422,553}</string>
            </dict>
            <key>TowerBack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{367,130}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{367,130}}</string>
                <key>sourceSize</key>
                <string>{421,130}</string>
            </dict>
            <key>TowerBack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{314,130}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{314,130}}</string>
                <key>sourceSize</key>
                <string>{422,130}</string>
            </dict>
            <key>TowerBack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{312,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{312,130}}</string>
                <key>sourceSize</key>
                <string>{422,130}</string>
            </dict>
            <key>TowerBack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{360,130}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{422,130}</string>
            </dict>
            <key>TowerBack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,635},{312,130}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{312,130}}</string>
                <key>sourceSize</key>
                <string>{422,130}</string>
            </dict>
            <key>TowerBackBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,529},{171,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,22}}</string>
                <key>sourceSize</key>
                <string>{171,22}</string>
            </dict>
            <key>TowerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{38,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,640}}</string>
                <key>sourceSize</key>
                <string>{38,640}</string>
            </dict>
            <key>TowerBackgroundGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{110,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,614}}</string>
                <key>sourceSize</key>
                <string>{110,614}</string>
            </dict>
            <key>TowerBackgroundLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,633},{24,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,182}}</string>
                <key>sourceSize</key>
                <string>{24,182}</string>
            </dict>
            <key>TowerBackgroundRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,810},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>TowerBlueBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,318},{172,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,15}}</string>
                <key>sourceSize</key>
                <string>{172,15}</string>
            </dict>
            <key>TowerBottomBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,853},{70,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,136}}</string>
                <key>sourceSize</key>
                <string>{70,136}</string>
            </dict>
            <key>TowerBottomMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{19,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,112}}</string>
                <key>sourceSize</key>
                <string>{19,112}</string>
            </dict>
            <key>TowerDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,527},{136,8}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,8}}</string>
                <key>sourceSize</key>
                <string>{140,8}</string>
            </dict>
            <key>TowerDecoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,537},{136,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,5}}</string>
                <key>sourceSize</key>
                <string>{136,5}</string>
            </dict>
            <key>TowerDecoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,927},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>TowerDecoration3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,371},{173,263}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{173,263}}</string>
                <key>sourceSize</key>
                <string>{181,267}</string>
            </dict>
            <key>TowerDecoration4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,318},{119,207}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{119,207}}</string>
                <key>sourceSize</key>
                <string>{131,219}</string>
            </dict>
            <key>TowerDecoration6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,316},{211,148}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{211,148}}</string>
                <key>sourceSize</key>
                <string>{213,152}</string>
            </dict>
            <key>TowerDecoration7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,635},{164,173}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{164,173}}</string>
                <key>sourceSize</key>
                <string>{168,175}</string>
            </dict>
            <key>TowerDecoration8.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,310},{55,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>TowerDownArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,709},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>TowerFunctionAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,987},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>TowerFunctionAddHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,451},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>TowerFunctionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TowerFunctionButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,846},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>TowerGoLightBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,709},{217,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,142}}</string>
                <key>sourceSize</key>
                <string>{217,142}</string>
            </dict>
            <key>TowerGoLightYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{217,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,142}}</string>
                <key>sourceSize</key>
                <string>{217,142}</string>
            </dict>
            <key>TowerLevelFunctionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,853},{115,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>TowerLevelFunctionButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,853},{115,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>TowerLevelFunctionButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,810},{115,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>TowerLight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>TowerLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,709},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>TowerLight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,929},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>TowerLight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,853},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>TowerLight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,491},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>TowerLight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,929},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>TowerLight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,929},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>TowerLight15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,116},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>TowerLight16.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,968},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>TowerLight17.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,949},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>TowerLight18.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,279},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>TowerLight19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,932},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>TowerLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,404},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>TowerLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,961},{43,65}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,65}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>TowerLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,961},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>TowerLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,961},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>TowerLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,544},{91,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>TowerLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,178},{67,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,99}}</string>
                <key>sourceSize</key>
                <string>{67,99}</string>
            </dict>
            <key>TowerLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{174,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,42}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>TowerLight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,178},{67,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,99}}</string>
                <key>sourceSize</key>
                <string>{67,99}</string>
            </dict>
            <key>TowerPrizeArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,492},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>TowerPvpBattleBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,546},{292,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,87}}</string>
                <key>sourceSize</key>
                <string>{292,87}</string>
            </dict>
            <key>TowerRedBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{163,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,14}}</string>
                <key>sourceSize</key>
                <string>{163,14}</string>
            </dict>
            <key>TowerScrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,544},{9,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,75}}</string>
                <key>sourceSize</key>
                <string>{9,75}</string>
            </dict>
            <key>TowerSeerBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,633},{218,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{218,52}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>TowerSweepButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,949},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
            <key>TowerSweepButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,404},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_tower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:483a27bba22bf4b0a2b6e509e73410e3$</string>
            <key>textureFileName</key>
            <string>ui_tower.png</string>
        </dict>
    </dict>
</plist>
