<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackRoundBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>BlueXDecoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,484},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>DarkBlueBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,358},{77,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>GrayMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,279},{77,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>GreenSingleUpArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,457},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>NotIdentifiedLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{176,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,175}}</string>
                <key>sourceSize</key>
                <string>{176,175}</string>
            </dict>
            <key>ThinBlueBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,46}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_top_level_cultivate.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af7a4d30a398a709e1be63cf0f5d408$</string>
            <key>textureFileName</key>
            <string>ui_top_level_cultivate.png</string>
        </dict>
    </dict>
</plist>
