<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,583},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{13,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,465},{21,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,599},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,583},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,574},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,549},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,433},{21,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,524},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,499},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>VIP_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,528},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>VIP_DayPrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,251},{187,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,186}}</string>
                <key>sourceSize</key>
                <string>{187,190}</string>
            </dict>
            <key>VIP_DayPrizeTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,67},{242,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,63}}</string>
                <key>sourceSize</key>
                <string>{242,63}</string>
            </dict>
            <key>VIP_InfoBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,473},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>VIP_InfoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{631,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{631,51}}</string>
                <key>sourceSize</key>
                <string>{641,51}</string>
            </dict>
            <key>VIP_InfoLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,152},{569,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,14}}</string>
                <key>sourceSize</key>
                <string>{569,14}</string>
            </dict>
            <key>VIP_InfoTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,34},{180,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,5}}</string>
                <key>sourceSize</key>
                <string>{180,5}</string>
            </dict>
            <key>VIP_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,247}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>VIP_Middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,561},{77,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>VIP_Name.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,439},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,32}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>VIP_Next.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,152},{223,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,14}}</string>
                <key>sourceSize</key>
                <string>{223,14}</string>
            </dict>
            <key>VIP_NextBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,132},{227,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,18}}</string>
                <key>sourceSize</key>
                <string>{227,18}</string>
            </dict>
            <key>VIP_PrizeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,514},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>VIP_PrizeDeck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,528},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>VIP_PrizeDeck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,499},{83,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{85,60}</string>
            </dict>
            <key>VIP_PrizeDeck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,216},{14,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,205}}</string>
                <key>sourceSize</key>
                <string>{14,205}</string>
            </dict>
            <key>VIP_PrizeFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,372},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>VIP_PrizeGold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,439},{135,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,58}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>VIP_PrizeGold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,433},{151,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,93}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>VIP_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,411},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>VIP_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>VIP_Update.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,372},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>VIP_WeekPrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,168},{202,204}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{202,204}}</string>
                <key>sourceSize</key>
                <string>{208,212}</string>
            </dict>
            <key>VIP_WeekPrizeTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{242,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,63}}</string>
                <key>sourceSize</key>
                <string>{242,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_vip.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7486a47fb0fcb1a55fb29a140b67738b$</string>
            <key>textureFileName</key>
            <string>ui_vip.png</string>
        </dict>
    </dict>
</plist>
