<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goods_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,261},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,24}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>goods_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,262},{60,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,34}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>goods_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,669},{86,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>goods_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,521},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,42}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>goods_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,569},{114,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,54}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>goods_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{142,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,74}}</string>
                <key>sourceSize</key>
                <string>{144,78}</string>
            </dict>
            <key>goods_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,853},{186,200}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>goods_251.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,301},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,23}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>goods_252.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,609},{58,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,41}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>goods_253.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,526},{90,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,41}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>goods_254.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,780},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>goods_255.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,871},{98,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,55}}</string>
                <key>sourceSize</key>
                <string>{98,55}</string>
            </dict>
            <key>goods_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,146},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>goods_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,987},{180,217}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,217}}</string>
                <key>sourceSize</key>
                <string>{180,225}</string>
            </dict>
            <key>goods_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,782},{203,222}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,222}}</string>
                <key>sourceSize</key>
                <string>{203,230}</string>
            </dict>
            <key>goods_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1055},{193,210}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,210}}</string>
                <key>sourceSize</key>
                <string>{193,224}</string>
            </dict>
            <key>goods_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,278},{298,258}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{298,258}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>goods_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,950},{98,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,110}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>goods_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,747},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>goods_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>goods_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,412},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>goods_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,298},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>goods_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{294,258}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{294,258}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>goods_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,261},{298,258}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{298,258}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>goods_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{298,258}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{298,258}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>goods_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,781},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,112}</string>
            </dict>
            <key>goods_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,625},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>goods_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{274,298}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>goods_316.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,257}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{316,257}}</string>
                <key>sourceSize</key>
                <string>{320,257}</string>
            </dict>
            <key>goods_317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,257}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{316,257}}</string>
                <key>sourceSize</key>
                <string>{320,257}</string>
            </dict>
            <key>goods_320.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,538},{281,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,242}}</string>
                <key>sourceSize</key>
                <string>{281,242}</string>
            </dict>
            <key>goods_321.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,521},{281,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,257}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>goods_322.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,780},{254,224}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,224}}</string>
                <key>sourceSize</key>
                <string>{284,224}</string>
            </dict>
            <key>goods_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{167,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,200}}</string>
                <key>sourceSize</key>
                <string>{167,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GoodIcon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc0d0fc04f463e58b8b6274c435ea63$</string>
            <key>textureFileName</key>
            <string>GoodIcon.png</string>
        </dict>
    </dict>
</plist>
